@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    height: 100vh;
    overflow: hidden;
}

/* Custom Scrollbar for Sidebar */
.sidebar-scroll::-webkit-scrollbar {
    width: 6px;
}

.sidebar-scroll::-webkit-scrollbar-track {
    background: #27272a;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
    background: #52525b;
    border-radius: 10px;
}

.mc-button {
    background: #3c3c3c;
    border: 2px solid #1e1e1e;
    border-top-color: #5a5a5a;
    border-left-color: #5a5a5a;
    transition: all 0.1s;
}

.mc-button:hover {
    background: #4a4a4a;
    border-color: #ffffff;
}

.category-header {
    background: #313233;
    border-bottom: 1px solid #1a1a1a;
}


.cmdbar {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100vh;
    background-color: #18181b;
    border-right: 1px solid #27272a;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
    .cmdbar {
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 1000;
    }

    .menubtn.open {
        transform: translateX(100);

    }

    .cmdbar.open {
        transform: translateX(0);
    }
}